/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-list-item {
  border: 1px solid black;
  border-radius: 4px;
  max-width: 320px;
}

.gallery-list-item-img {
  width: 320px;
  height: 200px;
}

.text-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.item-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
